.albumVBOX {
	-fx-background-color:white;
}

.albumButtonBar {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-text-fill:white;
}

.buttonAlbum {
	-fx-background-color:white;
	-fx-text-fill:rgb(0, 130, 153, 0.8);
	-fx-pref-height:40.0;
	-fx-pref-width:150.0;
}

.pagePane {
	-fx-background-color:white;
}

.listePane {	
	-fx-background-color:white;
}

.listeImages{
	-fx-background-color:white;
}

.buttonArrow {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-text-fill:white;
	-fx-min-height:40.0;
	-fx-min-width:40.0;
	-fx-background-radius: 25;
}

.imageName {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
}

.solidBorder {
    -fx-border-style: solid;
    -fx-border-width: 3;
}

.dotedBorder {
    -fx-border-style: dotted;
    -fx-border-width: 3;
}

.dashedBorder {
    -fx-border-style: dashed;
    -fx-border-width: 3;
}
