.backgroundOption {
	-fx-background-color:white;
}

.largeOption {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-pref-height:20.0;
	-fx-pref-width:640.0;
	-fx-text-fill:white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
	-fx-font-size:18.0;
}

.mediumOption {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-pref-height:20.0;
	-fx-pref-width:320.0;
	-fx-text-fill:white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
}

.smallOption {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-pref-height:20.0;
	-fx-pref-width:213.0;
	-fx-text-fill:white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
}

.buttonOption {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-text-fill:white;
	-fx-pref-height:40.0;
	-fx-pref-width:150.0;
	-fx-font-size:14.0;
}