.homePane {
	-fx-background-color:white;
}

.homeTitle {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-pref-height:55.0;
	-fx-pref-width:1000.0;
	-fx-text-fill:white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
}

.grid {
	-fx-background-color:white;
}

.homeCategoryTitle {
	-fx-pref-width:1000.0;
	-fx-text-fill:#008299;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
}

.homeBoutonAlbum {
	-fx-background-color: #008299;
	-fx-text-fill : white;
}

.noPage {
	-fx-background-color:rgb(153, 0, 0, 0.8);
	-fx-pref-height:55.0;
	-fx-pref-width:1000.0;
	-fx-text-fill:white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
}

.gridPagesRecentes {
	-fx-pref-height:100.0;
	-fx-max-height:100.0;
	-fx-pref-width:1000.0;
}

.homeAnchorPane {
	-fx-pref-height:400.0;
	-fx-pref-width:1000.0;
}