.navigationVBOX {
	-fx-background-color:white;
}

.navigationButtonBar {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-text-fill:white;
}

.buttonNavigation {
	-fx-background-color:white;
	-fx-text-fill:rgb(0, 130, 153, 0.8);
	-fx-pref-height:40.0;
	-fx-pref-width:150.0;
}

.noPage {
	-fx-background-color:rgb(153, 0, 0, 0.8);
	-fx-pref-height:55.0;
	-fx-pref-width:1000.0;
	-fx-text-fill:white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-content-display: center;
}

.pagePane {
	-fx-background-color:white;
}

.listeImages{
	-fx-background-color:white;
}

.buttonArrow {
	-fx-background-color:rgb(0, 130, 153, 0.8);
	-fx-text-fill:white;
	-fx-min-height:40.0;
	-fx-min-width:40.0;
	-fx-background-radius: 25;
}
